@tailwind base;
@tailwind components;
@tailwind utilities;

#heroHp{
    background-color: green;
    width: 100%;
    transition: width 0.5s;
    border-radius: 0px;
}

#enemyHp {
    background-color: tomato;
    width: 100%;
    transition: width 0.5s;
    border-radius: 10px;
}

#img-hero{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    left: 50px;
    top: 50px;
}

#img-enemy{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    left: 600px;
    top: 0px;
}
#coliseum{
    background-color: red;
    height: 100ch;
    width: 100ch;
}
.power-up{
    position: absolute;
    background-color: yellow;
    height: 2ch;
    width: 2ch;
}

#battleground {
    display: block;
    background-color: blueviolet;
    height: 400px;
    width: 1200px;
}