@tailwind base;
@tailwind components;
@tailwind utilities;

#heroHp{
    background-color: green;
    width: 100%;
    transition: width 0.5s;
    border-radius: 10px;
}

#enemyHp {
    background-color: tomato;
    width: 100%;
    transition: width 0.5s;
    border-radius: 10px;
}

#img-hero{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    left: 340px;
    top: 30%;
}

#img-enemy{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    left: 540px;
    top: 30%;
}
#coliseum{
    background-color: red;
    height: 100ch;
    width: 100ch;
}
.power-up{
    position: absolute;
    background-color: yellow;
    height: 2ch;
    width: 2ch;
}

#battleground {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    height: 400px;
    width: 1200px;
    border-radius: 20px;
}