@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --safe-color: #00af1d;
    --dmg-color: #b80000;
    --danger-color: #dab901;
    --hidden: hidden;
}

#heroHp{
    background-color: green;
    width: 0%;
    transition: width 0.5s;
    border-radius: 10px;
}

#heroHpContainer {
    position: relative;
    background-position: bottom;
    opacity: 1;
}

#heroHpContainer::after {
    content: "";
    position: absolute;
    background-image: url("../img/Buffs/fire.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    opacity: 0.5;
    border-radius: 10px;
    visibility: var(--hidden);
}

#enemyHp {
    background-color: tomato;
    width: 0%;
    transition: width 0.5s;
    border-radius: 10px;
}

#enemyHpContainer {
    position: relative;
    background-position: bottom;
    opacity: 1;
}

#enemyHpContainer::after {
    content: "";
    position: absolute;
    background-image: url("../img/Buffs/fire.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    opacity: 0.5;
    border-radius: 10px;
    visibility: var(--hidden);
}

#img-hero{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    left: 450px;
    top: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: var(--safe-color);
}

#img-enemy{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    left: 600px;
    top: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: var(--safe-color);
}

#coliseum{
    background-color: red;
    height: 100ch;
    width: 100ch;
}
.power-up{
    position: absolute;
    height: 2ch;
    width: 2ch;
}

#battleground {
    background-image: url("../img/background/background_1.jpg");
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    height: 400px;
    width: 1200px;
    border-radius: 20px;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#battleground::before {
    content: "";
    display: inline-block;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 20px;
}

#swing {
    position: relative;
    display: none;
    width: 60px;
    height: 60px;
    left: 450px;
    top: 30%;
}

#sound-button {
    font-size: 2rem;
}